<h3>  Employee List</h3>

<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>Badge ID</th>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
  </thead>
  <tbody>
      <% @employees.each do |em| %>
      <tr>
          <td><%= em.badge_id %> </td>
          <td><%= em.first_name %> </td>
          <td><%= em.last_name %> </td>
      </tr>
      <% end %>
  </tbody>
</table>
