<h3>  Employee Detail </h3>
<table class="table">
  <tbody>
    <tr>
      <td> Badge ID: </td>
      <td><%= @employee.badge_id %> </td>
    </tr>
    <tr>
      <td> First Name: </td>
      <td> <%= @employee.first_name %> </td>
    </tr>
    <tr>
      <td>Last Name: </td>
      <td> <%= @employee.last_name %> </td>
    </tr>
  </tbody>
</table
